.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.recipePicture {
    width: 250px;
    height: 280px;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipeSection {
    margin: 0em 70em 30em 0em;
}

.center{
    margin: 0 auto;
}

.scrollable{
    overflow: auto;
}

.heights{
    min-height: 40rem;
}


.textCenter{
    text-align:center;
}


